<!-- issue detail page -->
<h2 class="display-2 my-3">Details</h2>
<dl class="row">
  <dt class="col-sm-3">Status</dt>
  <dd class="col-sm-9"><span class="badge badge-danger">NEW</span></dd>

  <dt class="col-sm-3">Title</dt>
  <dd class="col-sm-9">Bad machine</dd>

  <dt class="col-sm-3">Place</dt>
  <dd class="col-sm-9">PC-9</dd>

  <dt class="col-sm-3">Date</dt>
  <dd class="col-sm-9">2019.01.01.</dd>

  <dt class="col-sm-3">Description</dt>
  <dd class="col-sm-9">Some description</dd>

  <dt class="col-sm-3">User</dt>
  <dd class="col-sm-9">gyozke</dd>
</dl>
<p>
  <a class="btn btn-primary" href="#" role="button">Edit</a>
  <a class="btn btn-outline-danger" href="#" role="button">Delete</a>
</p>
